.graph-container{
    .title{
        font-size: 28px;
        color: #696969;
        margin: 0 0 2vh 4vw;
        padding-top: 4vh;
    }
    .img{
        width: 80vw;
        height: 90vh;
    }
    .return{
        margin-bottom: 3vh;
    }
}