.sameCase-container{
    .title{
        font-size: 26px;
        color: grey;
        text-indent: 1.8em;
        padding-top: 2vh;
    }
    .table{
        width: 90%;
        margin: 10px auto;
    }
}